@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Site Custom -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- MDB -->
    @await Html.PartialAsync("_MDBStylesheetPartial")

    <!-- default project -->
    <link rel="stylesheet" href="~/OA.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="vh-100 bg-image" style="background-image: url('../img/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Sign into your account</h2>

                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ID = "loginFormId" }))
                                {

                                    <div class="input-group input-group-lg form-outline mb-4">
                                        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-envelope"></i></span>
                                        <input type="email" id="email" name="email" class="form-control form-control-lg" tabindex="1" autocomplete="off" />
                                        <label class="form-label" for="email">Email address</label>
                                    </div>

                                    <div class="input-group input-group-lg form-outline mb-4">
                                        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-lock"></i></span>
                                        <input type="password" id="password" name="password" class="form-control form-control-lg" tabindex="2" autocomplete="off" />
                                        <span class="input-group-text"><i class="fa fa-eye-slash" id="togglePassword"></i></span>
                                        <label class="form-label" for="password">Password</label>
                                    </div>

                                    <div class="form-check d-flex mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="rememberme" name="rememberme" tabindex="3" />
                                        <label class="form-check-label" for="rememberme">
                                            Remember me
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" id="btnSubmit" tabindex="4">Sign In</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Don't have an account? <a href="~/Account/signup" class="fw-bold text-body"><u>Register here</u></a>
                                    </p>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Jquery-->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- jquery validation -->
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <!-- MDB -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>

    <!--User Login-->
    <script src="~/js/user/Userlogin.js"></script>
</body>
</html>